<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="copyright" content="&copy; {{ site.author.name }} 2015">
    <meta name="description" content="{{ site.description }}">

    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://oneyearofmaking.com/images/header.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1182" />
    <meta property="og:image:height" content="596" />

    <!-- Twitter: card tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@richlitt" />
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="http://oneyearofmaking.com/images/header.png">

    <!-- Open Source Protocol -->
    <link rel="profile" href="http://osprotocol.com" />
    <meta property="os:repo" content="https://github.com/{{ site.github_repo }}" />
    <meta property="os:rcs_type" content="git" />
    <meta property="os:src" content="git@github.com:{{ site.github_repo }}.git" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ HOME_PATH }}assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{{ HOME_PATH }}assets/css/custom.css" rel="stylesheet">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon" href="{{ HOME_PATH }}images/touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ HOME_PATH }}images/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ HOME_PATH }}images/touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ HOME_PATH }}images/touch-icon-ipad-retina.png" />

  </head>
  <body id="index">

    <div class="banner">
      <img src="{{ HOME_PATH }}images/headerwithtitle.png">
    </div>

    <div class="wrapper">
      <div class="container">
        <div class="col-sm-12 description">
          <p>For one year, Richard Littauer and Henry Snow are going to make stuff.</p>
          <p>One <b>blog</b> post a day.</p>
          <p>One <b>video</b> a day.</p>
          <p>For Richard, one <b>website</b> a week.</p>
          <p>For Henry, three <b>instagram</b> posts a week.</p>
        </div>

        <div class="col-sm-4 col-sm-offset-2">
          <h3><a href="http://burntfen.com">richard</a></h3>
          <div class='social-media'>
            <a href="http://burntfen.com" rel="me"><i class="fa fa-globe"></i></a>
            <a href="https://twitter.com/#!/richlitt" rel="me"><i class="fa fa-twitter"></i></a>
            <a href="https://youtube.com/user/Rich0Fenn" rel="me"><i class="fa fa-youtube"></i></a>
            <a href="https://instagram.com/richlittv3/"><i class="fa fa-instagram"></i></a>
            <a href="https://tinyletter.com/practice"><i class="fa fa-pencil"></i></a>
            <a href="mailto:richard@burnfen.com"><i class="fa fa-envelope"></i></a>
          </div>
        </div>

        <div class="col-sm-4">
          <h3><a href="http://www.whereishenry.com">henry</a></h3>
          <div class='social-media'>
            <a href="https://whereishenry.com" rel="me"><i class="fa fa-globe"></i></a>
            <a href="https://twitter.com/realHenrySnow" rel="me"><i class="fa fa-twitter"></i></a>
            <a href="https://www.youtube.com/user/japanandtheworld" rel="me"><i class="fa fa-youtube"></i></a>
            <a href="https://www.instagram.com/ispeakhuman"><i class="fa fa-instagram"></i></a>
            <a href="http://www.whereishenry.com/"><i class="fa fa-pencil"></i></a>
            <a href="mailto:Henry@justgotoff.com"><i class="fa fa-envelope"></i></a>
          </div>
        </div>


        <div class="col-sm-12 description">
          <p>Follow us here, or get in touch on Twitter.</p>
        </div>

        </div>
      </div>

    <div class="container projects" style="background-color:#000; margin-left:0px; width: 100%; border-radius: 0px;">
      <div class="row">
        <div class="col-md-6">
          <h2><a href="https://www.youtube.com/user/Rich0Fenn" class="alt-header">richard</a>'s latest video</h2>
          <iframe width="450" height="300" src="http://www.youtube.com/embed?max-results=1&controls=0&showinfo=0&rel=0&listType=user_uploads&list=Rich0Fenn" frameborder="0" allowfullscreen></iframe> 
        </div>
        <div class="col--6">
          <h2><a href="https://www.youtube.com/user/japanandtheworld" class="alt-header">henry</a>'s latest video</h2>
          <iframe width="450" height="300" src="http://www.youtube.com/embed?max-results=1&controls=0&showinfo=0&rel=0&listType=user_uploads&list=japanandtheworld" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-12" style="margin: 0px auto 60px; color:#888; font-size: 18px; font-weight: bold;">
          follow <a href="https://www.youtube.com/user/Rich0Fenn" class="alt-link">richard</a> and <a href="https://www.youtube.com/user/japanandtheworld" class="alt-link">henry</a> on youtube for more
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="container">
        <div class="row col-md-12 projects" id="websites">
          <h2 style="padding-bottom:20px;"><a href="http://burntfen.com">richard</a>'s websites</h2>

         <div class="blog" style="margin: 0px auto 60px; width: 200px; color:#888;">
            <a class="more" href="https://tinyletter.com/richlitt">and his daily blog</a>
          </div>

          {% assign sites = (site.websites | sort: 'ranking') %}
          {% for project in sites limit:16 %}
            {% assign loopindex = forloop.index | modulo: 3 %}
            {% if loopindex == 1 %}
              <div class="col-xs-6 col-sm-4 col-md-3" style="margin-left:0px;">
            {% else %}
              <div class="col-xs-6 col-sm-4 col-md-3">
            {% endif %}
                <div class="img-container">
                  <a href="{{ project.url }}">
                    <img src="{{ HOME_PATH }}images/{{ project.picture }}" class="card-image"/>
                  </a>
                </div>
                <a class="project-title" href="{{ project.url }}">
                  <h4>#{{ project.ranking }}</h4>
                  <p>{{ project.title }}<br />
                  {{ project.role }} <span class="status">{{ project.status }}</span></p>
                </a>
              </div>
            {% if forloop.index == 3 %}
              <div class="clearfix visible-sm-block"></div>
            {% elsif forloop.index == 4 %}
              <div class="clearfix visible-md-block visible-lg-block"></div>
            {% elsif forloop.index == 12 %}
              <div class="clearfix visible-md-block visible-lg-block"></div>
            {% endif %}
          {% endfor %}
        </div>
       </div>

       <div id="updates" class="container" style="margin-bottom: 50px;">

         <form action="https://tinyletter.com/richlitt" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/richlitt', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
          <h4><label for="tlemail">join richard's weekly newsletter for updates</label></h4>
          <p>
            <input type="text" name="email" id="tlemail" />
            <input type="hidden" value="1" name="embed"/>
            <input type="submit" value="subscribe" class="btn-primary" />
          </p>
         </form>

      </div>
    </div>


    <div id="instagram" style="background:black;padding-bottom: 30px;" align="center">
      <h2 class="main-headers"><a href="https://www.instagram.com/ispeakhuman/" class="alt-header">henry</a>'s instagram</h2>

      <div class="blog" style="margin: 0px auto 60px; width: 200px; color:#888;">
        <a class="more" href="http://www.whereishenry.com">And his blog.</a>
      </div>

      <div id="instafeed"></div>

      <p align="center" style="color:white;padding-top: 20px;">{{ site.author.name }} &copy; <script type="text/javascript">document.write(new Date().getFullYear())</script>.
        <a style="color:#999;" href="https://github.com/RichardLitt/year-of-making">Source</a>.
      </p>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="{{ HOME_PATH }}assets/js/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    {% include JB/analytics %}

    <script type="text/javascript" src="{{ HOME_PATH }}assets/js/instafeed.min.js"></script>

    <script type="text/javascript">
      var feed = new Instafeed({
          get: 'user',
          userId: 1991030911,
          clientId: '587851d64f744887851ff2bea7bcf54f',
          accessToken: '1062035628.587851d.9a3005a3d75a46e9a0fbe19449347ce9',
          limit: 60,
          sortBy: 'most-recent',
          resolution: 'low_resolution',
          after: function() {
            $(".instagram-post").each(function() {
                var text = $(this).attr("title");
                console.log(text)
                text = new Date(parseInt(text) * 1000).toDateString()
                $(this).attr("title", text);
            })
          },
          template: '{% raw %}<a href="{{link}}"><img src="{{image}}" class="instagram-post" title="{{model.created_time}}"></a>{% endraw %}'
      });
      feed.run();
    </script>

    <script type="text/javascript">

    </script>

  </body>
</html>
